
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
}
@media screen and (max-width: 320px){ /* For More Smaller */
.intro input {
    width: 74%;
    border: none;
    padding-left: 30px;
    transition: 0.3s;
}
}

@media screen and (max-width: 776px) {
    body{
        background-position: 62% 0%;
    }
    .nav-bar{
        transition: 0.6s;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: space-between; */
        position: relative;
        
    }
    nav ul {
        transition: 0.3s;
        background-color: rgba(148, 131, 131, 0.171);
        padding: 10px 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav li{
        margin: 7px 0px;
    }
    a{
        text-align: center;
    }
    footer{
        position: absolute;
        bottom: 0;
        /* top: 100%; */
    } 
    .logo-txt{
        position: relative;
        left: 8px;
    }
    .card-logo{
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0% 5%;

        align-items: center;
        margin-bottom: 70%;
    }
    .contact-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .skill-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-container{
        margin: 5%;
        background-color: rgba(60, 68, 71, 0.637);
        padding: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
    }
    .intro input{
        /* width: 50%; */
        border: none;
        padding-left: 30px;
        transition: 0.3s;
       
    
    }
    
    


}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* overflow: scroll; */
      overflow-x: hidden;
      background-color: #1a1a1a;
       background-image: url(res/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100vw;
}
*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* nav bar */
.nav-bar{
    position: relative;
    top: 0;
    /* height: 5vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}
nav ul li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
    color: #fff;
    user-select: none;
}
nav a{
    padding: 0px 15px;
    text-decoration: none;
    color: #23dbbd;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #222;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #23dbbd;

}
.active{
    
    color: #222;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #23dbbd;
}

/* nav bar */

span{
    transition: 0.3s;
}

/* goto top */

.scroll-top{
    background-color: rgba(255, 255, 255, 0.425);
    height: 25px;
    width: 25px;
    /* width: 125px; */
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
}
.scroll-top:hover{
    border-radius: 8px;
    height: 160px;
    width: 105px;
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;

}
.scroll-top:hover .scroll-top-body{
    right: 15px;
    top: 00px;

}
.scroll-top:hover .fa-solid{
   display: none;

}
.scroll-top .fa-solid{
    position: relative;
   right: -12.6px;

}
.scroll-top-body{
    width: 100%;
    position: relative;
    top: 1000px;
}
.fa-arrow-up{
    color: white;
}
.scroll-top-body ul li{
    margin: 2%;
    text-align: center;
    list-style-type: none;
    transition: 0.3s;
}
.scroll-top-body ul li:hover{
    color: red;
    text-shadow: 0 0 15px red;
}
.scroll-top-body ul li:hover a{
    color: red;
}
.scroll-top-body ul li a{
    color: rgb(255, 255, 255);
}

.scroll-top-body ul{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.scroll-top a{
    text-align: center;
    /* height: 100%; */
    line-height: 30px;
    width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}
.scroll-top .fa-solid{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}
/* goto top */


.logo-txt{
    color: #23dbbd;
}

.card-logo:hover span{
    color: red;
    text-shadow: 0 0 15px red;
                      
}
/* custom logo */
.card-logo{
    display: flex;
    align-items: center;
    height: 90px;
    width: 300px;
    justify-content: center;
    position: relative;
    /* display: inline; */
    overflow: hidden;
    right: 10%;
    /* background-color: red; */
    
}

.card-logo-body{
    position: absolute;
    top: 30%;
    left: 100%;
    font-size: 30px;
    transition: 0.3s;
}
.card-logo:hover .card-logo-body{
    margin-left: 5px;
    left: 80%;
    top: 30%;
    color: white;
text-shadow: 0 0 15px white;


}

/* custom logo */

/* img box */
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8% 5%;
    align-items: center;
}
.box{
    height: 250px;
    width: 300px;
    margin:  10px 5px;
    background-color: #222;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: 0.3s;  
}
.box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.box:hover .box-img{
    transform: scale(1.5);

}

.card-body{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    background-color: #22222283;
    backdrop-filter: blur(2px);
     display: flex; 
    padding: 5% 4%;
     justify-content: center;
    align-items: center;
    flex-direction: column; 
    overflow: hidden;
    transition: 0.3s;
}
.card-title{
    margin-top: 20%;
    text-transform: capitalize;
    color: white;
}
.card-subtitle{
    color: white;
}
.card-description{
    text-transform: capitalize;
    margin-top: 8px;
    text-align: left;
    font-size: 15px;
    color: white;
}

.card-button{
    margin: 15% 0px;
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    background-color: #23dbbd;
    transition: 0.3s;
}
.card-button:hover{
    background-color: black;
    color: #23dbbd;
}
.box:hover{
    transform: translateY(-10px);
}
.box:hover .card-body {
    bottom: 0;
}
/* img box */


 /* name intro */

.intro{
    margin-top: 10%;
    margin-left: 8%;
}
.intro h2, h1{
    margin-left: 2px; 
    color: #fdfff5;
    transition: 0.3s;
}
.intro span{
    color: #f9004d;
}
.intro-h1:hover  .intro-span{
    color: #f9004d;
    text-shadow: 0 0 10px #f9004d;
}
.intro h4{
    transition: 0.2s;
    color: rgb(145, 137, 140);
}
.intro input{
    /* display: inline-block;
    width: 30%; */
    border: none;
    padding-left: 30px;
    height: 30px;
    margin-top: 2%;
    transition: 0.3s;
   

}

.intro .fa-at{
    position: relative;
    left: -299px;
    right: 0px;
    top: 2px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.918);
}
.intro input:focus{
    border: none;
    border-top-right-radius: 18px;
    
    border-bottom-left-radius: 18px;
    
    padding-left: 30px;
}
.send-mail{
    font-size: 10px;
    /* text-align: center; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
    right: 65px;
    width: 50px;
}

.intro h4:hover{
    transition: 0.3s;
    color: white;
    /* text-shadow: 0 0 10px rgb(255, 255, 255); */
    animation: blinkName 900ms steps(50) infinite alternate ;
}
.hire-btn{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2%;
}
.dwn-btn{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 5%;
}

 /* name intro */

/* footer */
footer{
    position: relative;
    height: 25%;
    bottom: 0;
    background-color: #272222;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    margin: 5%;
    color: #23dbbd;
    text-align: center;
    user-select: none;
}
.footer-description {
    margin: 2%;
    color: #5f6362;
    text-align: center;
    user-select: none;
}
.footer-content ul li{
    list-style-type: none;
    margin: 0px 20px;
}
.footer-content ul{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}
.footer-content p{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}
.footer-content ul li i{
    color: #23dbbd;
    transition: 0.3s;
    font-size: 24px;
}
.footer-content ul li i:hover{
    transform: translateY(-5px);
    color: #f9004d;
    cursor: pointer;
}
/* footer */



/* scroll bar */
::-webkit-scrollbar {
         width: 5px;
         transition: 0.3s;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 15px;
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#ff0000);
    border-radius: 15px;
}
/* scroll bar */

/* contact-form */

.contact-form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}
.contact-me-header{
    /* margin: 2% 0px; */
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
}
.contact-form-form{
    /* margin-left: 5%; */
    position: relative;
    /* left: 30%; */
}
form table tr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form tr{
    margin: 8px 0px;;
}
form td{
    margin: 2% 0px;
}
label{
    font-size: 18px;
    color: white;
}
button a{
    color: black;
}
button{
    width: 120px;
    color: white;
    border: none;
    background-color: rgba(82, 77, 77, 0.692); 
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
}
button:hover{
    background-color: #23dbbd;
    color: black;
    cursor: pointer;
}
button:hover a{
    color: #23dbbd;
}
input, textarea{
    width: 250px;
    transition: 0.3s;
    color: white;
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 200;
    background-color: rgba(65, 61, 61, 0.568);
    border-radius: 3px;
    border-bottom: 2px #23dbbc46 solid;
    
}
input:focus, textarea:focus{
    color: white;
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 200;
    background-color: rgba(65, 61, 61, 0.568);
    border-radius: 3px;
    border-bottom: 2px #23dbbd solid;
    
}
::placeholder{
    font-weight: 20;
}
.address{
    margin-top: 2%;
    transition: 0.3s;
    padding: 3% 11%;
    border-radius: 8px;
    background-color: rgba(148, 131, 131, 0.171);
}
.address:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.form{
    
   transition: 0.3s;
   margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 11%;
    border-radius: 8px;
    background-color: rgba(148, 131, 131, 0.171);
    /* flex-direction: column; */
}
.form:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.details{
    font-size: 20px;
    
}

.address .fa-solid{
    transition: 0.5s;
    position: relative;
    left: -26px;
    bottom: -22px;
    color: white;
}
.address:hover .fa-solid{
    color: #f9004d;
}


p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.education-container .fa-solid{
    position: relative;
    left: 30px;
    color: white;
}
.education-container td{
    padding: 20px;
}
.education-section h1{
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
    margin: 2% 0px;
    text-align: center;
    
}
.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.education-container table{
    margin: 5%;
    transition: 0.3s;
    background-color: rgba(148, 131, 131, 0.171);
    border-radius: 8px;
}
.education-container table:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.education-container table .fa-solid{
    transition: 0.3s;
}
.education-container table:hover .fa-solid{
    color: #f9004d;
}

/* Skills Section */
.skills-section-header{
    text-align: center;
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
}
.skill-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}
.skillbox{
    height: 280px;
    width: 300px;
    border-radius: 8px;
    background-color: rgba(60, 68, 71, 0.637);
    margin: 2%;
    flex-wrap: wrap;
    transition: 0.3s;
    overflow: hidden;
}
.skillbox:hover{
    height: 280px;
    width: 300px;
    border-radius: 8px;
    transform: translateY(-5px);
    background-color: rgba(48, 138, 31, 0.637);
    margin: 2%;
    flex-wrap: wrap;
}

.skill-box-body{
    padding: 8%;
}
img.skill-box-title{
    height: 50px;
}
.skill-box-subtitle{
    margin: 4% 0px;
    color: white;
}
.skill-box-body .fa-brands{
    font-size: 55px;
    color: white;
}
/* Skillls Section */

/* About Section */

.about-section-header{
    text-align: center;
}
.about-container{
    margin: 5%;
    background-color: rgba(60, 68, 71, 0.637);
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    gap: 50px;
    transition: 0.3s;
}
.about-details{
    padding: 2%;
}
.about-container img{
    
    height: 300px;
    margin-top: 8%;
    position: relative;
    border-radius: 10px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    transition: 1.0s;
    transform-style: preserve-3d;
    perspective: 100px;
    
}
.about-container:hover{
    background-color: rgba(61, 97, 110, 0.507);

    
}

.about-details .fa-solid{
    color: rgba(255, 255, 255, 0.384);
    margin-right: 8px;
}
.read-more{
    color: rgba(255, 255, 255, 0.384);
    margin-right: 8px;
}
.read-more:hover{
    color: rgba(255, 255, 255, 0.719);
    margin-right: 8px;
    cursor: pointer;
}
.fa-circle-right{
    transition: 0.3s;
}
.read-more:hover .fa-circle-right{
    color: rgba(255, 255, 255, 0.719);
    margin-right: 8px;
    
}

.about-title{
    margin: 2%;
}
.about-subtitle{
    margin: 2%;
    color: white;
}
.about-details:hover > .about-title:hover span:nth-child(1)::after{
   content: "'"
}

.about-title:hover span:nth-child(1){
    transition: 0.3s;
    margin-right: 2px;
}
.about-title:hover span:nth-child(2){
    color: #f9004d;
}
.about-description{
    line-height: 22px;
}
.dwn-btn a{
    color: white;
}
.dwn-btn:hover a{
    color: black;
    
}




/* About Section */


@keyframes blinkName {
    from{
        transition: 0.3s;
        text-shadow: 0 0 1px rgb(255, 255, 255);
        
    }
    to {
        transition: 0.3s;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}
@keyframes blinkHeaders {
    from{
        text-shadow: 0 0 1px rgb(255, 255, 255);
        
    }
    to {

        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}