
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');



@media screen and (max-width: 776px) {
    body{
        background-position: 62% 0%;
    }
    .nav-bar{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: space-between; */
        position: relative;
        
    }
    nav ul {
        background-color: rgba(148, 131, 131, 0.171);
        padding: 10px 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav li{
        margin: 7px 0px;
    }
    a{
        text-align: center;
    }
    footer{
        position: absolute;
        bottom: 0;
        top: 100%;
    } 
    .logo-txt{
        position: relative;
        left: 8px;
    }
    .card-logo{
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0% 5%;

        align-items: center;
        margin-bottom: 70%;
    }
    .contact-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .skill-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box1{
        overflow: hidden;
        padding: 0% 10px;;
    }
    
    


}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* overflow: scroll; */
      overflow-x: hidden;
      background-color: #1a1a1a;
       background-image: url(res/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100vw;
}
*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.nav-bar{
    position: relative;
    top: 0;
    /* height: 5vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}
nav ul li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
    color: #fff;
    user-select: none;
}
nav a{
    padding: 0px 15px;
    text-decoration: none;
    color: #23dbbd;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #222;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #23dbbd;

}
.active{
    
    color: #222;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #23dbbd;
}

span{
    transition: 0.3s;
}
.logo{
    /* position: relative; */
    /* background-color: red; */
}
.logo-txt{
    color: #23dbbd;
}



.card-logo:hover span{
    color: red;
    text-shadow: 0 0 15px red;
                      
}
/* custom logo */
.card-logo{
    display: flex;
    align-items: center;
    height: 90px;
    width: 300px;
    justify-content: center;
    position: relative;
    /* display: inline; */
    overflow: hidden;
    right: 10%;
    /* background-color: red; */
    
}

.card-logo-body{
    position: absolute;
    top: 30%;
    left: 100%;
    font-size: 30px;
    transition: 0.3s;
}
.card-logo:hover .card-logo-body{
    margin-left: 5px;
    left: 80%;
    top: 30%;
    color: white;
text-shadow: 0 0 15px white;


}

/* custom logo */

.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8% 5%;
    align-items: center;
}
.box{
    height: 250px;
    width: 300px;
    margin:  10px 5px;
    background-color: #222;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: 0.3s;  
}
.box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.box:hover .box-img{
    transform: scale(1.5);

}

.card-body{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    background-color: #22222283;
    backdrop-filter: blur(2px);
     display: flex; 
    padding: 5% 4%;
     justify-content: center;
    align-items: center;
    flex-direction: column; 
    overflow: hidden;
    transition: 0.3s;
}
.card-title{
    margin-top: 20%;
    text-transform: capitalize;
    color: white;
}
.card-subtitle{
    color: white;
}
.card-description{
    text-transform: capitalize;
    margin-top: 8px;
    text-align: left;
    font-size: 15px;
    color: white;
}

.card-button{
    margin: 15% 0px;
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    background-color: #23dbbd;
    transition: 0.3s;
}
.card-button:hover{
    background-color: black;
    color: #23dbbd;
}
.box:hover{
    transform: translateY(-10px);
}
.box:hover .card-body {
    bottom: 0;
}

.intro{
    margin-top: 10%;
    margin-left: 8%;
}
.intro h2, h1{
    margin-left: 2px; 
    color: #fdfff5;
    transition: 0.3s;
}
.intro span{
    color: #f9004d;
}
.intro-h1:hover  .intro-span{
    color: #f9004d;
    text-shadow: 0 0 10px #f9004d;
}
.intro h4{
    transition: 0.2s;
    color: rgb(145, 137, 140);
}
.intro h4:hover{
    transition: 0.3s;
    color: white;
    /* text-shadow: 0 0 10px rgb(255, 255, 255); */
    animation: blinkName 900ms steps(50) infinite alternate ;
}
footer{
    position: relative;
    height: 25%;
    bottom: 0;
    background-color: #272222;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-content > h3 {
    margin: 5%;
    color: #23dbbd;
    text-align: center;
    user-select: none;
}
.footer-content > p {
    margin: 2%;
    color: #5f6362;
    text-align: center;
    user-select: none;
}
.footer-content ul li{
    list-style-type: none;
    margin: 0px 20px;
}
.footer-content ul{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}
.footer-content p{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}
.footer-content ul li i{
    color: #23dbbd;
    transition: 0.3s;
    font-size: 24px;
}
.footer-content ul li i:hover{
    transform: translateY(-5px);
    color: #f9004d;
    cursor: pointer;
}
::-webkit-scrollbar {
         width: 5px;
         transition: 0.3s;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 15px;
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#ff0000);
    border-radius: 15px;
}

/* contact-form */

.contact-form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}
.contact-me-header{
    margin: 2% 0px;
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
}
.contact-form-form{
    /* margin-left: 5%; */
    position: relative;
    /* left: 30%; */
}
form table tr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form tr{
    margin: 8px 0px;;
}
form td{
    margin: 2% 0px;
}
label{
    font-size: 18px;
    color: white;
}
button a{
    color: black;
}
button{
    width: 120px;
    color: white;
    border: none;
    background-color: rgba(82, 77, 77, 0.692); 
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
}
button:hover{
    background-color: #23dbbd;
    color: black;
    cursor: pointer;
}
button:hover a{
    color: #23dbbd;
}
input, textarea{
    width: 250px;
    transition: 0.3s;
    color: white;
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 200;
    background-color: rgba(65, 61, 61, 0.568);
    border-radius: 3px;
    border-bottom: 2px #23dbbc46 solid;
    
}
input:focus, textarea:focus{
    color: white;
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 200;
    background-color: rgba(65, 61, 61, 0.568);
    border-radius: 3px;
    border-bottom: 2px #23dbbd solid;
    
}
::placeholder{
    font-weight: 20;
}
.address{
    transition: 0.3s;
    margin-top: 10px;
    padding: 2% 12%;
    border-radius: 8px;
    background-color: rgba(148, 131, 131, 0.171);
}
.address:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.form{
    
   transition: 0.3s;
   margin-top: 30px;
   margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 11%;
    border-radius: 8px;
    background-color: rgba(148, 131, 131, 0.171);
    /* flex-direction: column; */
}
.form:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.details{
    font-size: 20px;
    
}

.address .fa-solid{
    transition: 0.5s;
    position: relative;
    left: -26px;
    bottom: -22px;
    color: white;
}
.address:hover .fa-solid{
    color: #f9004d;
}


p{
    color: white;
}
a{
    text-decoration: none;
}
.education-container .fa-solid{
    position: relative;
    left: 30px;
    color: white;
}
.education-container td{
    padding: 20px;
}
.education-section h1{
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
    margin: 2% 0px;
    text-align: center;
    
}
.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.education-container table{
    margin: 5%;
    transition: 0.3s;
    background-color: rgba(148, 131, 131, 0.171);
    border-radius: 8px;
}
.education-container table:hover{
    background-color: rgba(102, 163, 192, 0.103);
}

.education-container table .fa-solid{
    transition: 0.3s;
}
.education-container table:hover .fa-solid{
    color: #f9004d;
}

/* Skills Section */
.skills-section-header{
    text-align: center;
    animation: blinkHeaders 900ms steps(50) infinite alternate ;
}
.skill-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}
.skillbox{
    height: 280px;
    width: 300px;
    border-radius: 8px;
    background-color: rgba(60, 68, 71, 0.637);
    margin: 2%;
    flex-wrap: wrap;
    transition: 0.3s;
}
.skillbox:hover{
    height: 280px;
    width: 300px;
    border-radius: 8px;
    transform: translateY(-5px);
    background-color: rgba(48, 138, 31, 0.637);
    margin: 2%;
    flex-wrap: wrap;
}

.skill-box-body{
    padding: 8%;
}
img.skill-box-title{
    height: 50px;
}
.skill-box-subtitle{
    margin: 4% 0px;
    color: white;
}
.skill-box-body .fa-brands{
    font-size: 55px;
    color: white;
}
/* Skillls Section */



@keyframes blinkName {
    from{
        transition: 0.3s;
        text-shadow: 0 0 1px rgb(255, 255, 255);
        
    }
    to {
        transition: 0.3s;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}
@keyframes blinkHeaders {
    from{
        text-shadow: 0 0 1px rgb(255, 255, 255);
        
    }
    to {

        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}
